<div class="container" data-controller="survey-result" data-survey-result-hidden-class="hidden">
  <div class="flex flex-wrapper flex-column">
    <%= render 'shared/disclaimer' %>
    <%= render 'top_nav' %>
    <% @suggested_dog_breeds.each_with_index do |dog, i| %>
      <div class="dog-card <%= display_class(i) %>" data-survey-result-target="card" data-card-target="<%= dog.id %>">
        <div class="card-top">
          <h2 class="accent-title"><%= top_three_wording(i) %></h2>
          <%= link_to 'View on American Kennel Club &nbsp;<i class="fa-solid fa-arrow-up-right-from-square"></i>'.html_safe, dog.akc_url, class: 'external-link', target: '_blank'  %>
        </div>
        <div class="dog-head">
          <h2><%= dog.name %></h2>
        </div>
        <div class="dog-attribute">
          <h3>Average Weight:  <%= dog.average_weight %>lbs</h3>
        </div>
        <p><%= dog.description %></p>
        <hr>
        <div class="dog-attributes">
          <div class="dog-attribute">
            <h3>Family orientation level:</h3>
            <div class="paw-values">
              <% (1..5).each do |iteration|%>
                <%= display_score(dog.family_score, iteration).html_safe %>
              <% end %>
            </div>
          </div>
          <div class="dog-attribute">
            <h3>Children tolerance level:</h3>
            <div class="paw-values">
              <% (1..5).each do |iteration|%>
                <%= display_score(dog.children_score, iteration).html_safe %>
              <% end %>
            </div>
          </div>
          <div class="dog-attribute">
            <h3>Good with other dogs score:</h3>
            <div class="paw-values">
              <% (1..5).each do |iteration|%>
                <%= display_score(dog.other_dog_score, iteration).html_safe %>
              <% end %>
            </div>
          </div>
          <div class="dog-attribute">
            <h3>Shedding level:</h3>
            <div class="paw-values">
              <% (1..5).each do |iteration|%>
                <%= display_score(dog.shedding_score, iteration).html_safe %>
              <% end %>
            </div>
          </div>
          <div class="dog-attribute">
            <h3>Grooming level:</h3>
            <div class="paw-values">
              <% (1..5).each do |iteration|%>
                <%= display_score(dog.grooming_score, iteration).html_safe %>
              <% end %>
            </div>
          </div>
          <div class="dog-attribute">
            <h3>Drooling level:</h3>
            <div class="paw-values">
              <% (1..5).each do |iteration|%>
                <%= display_score(dog.drooling_score, iteration).html_safe %>
              <% end %>
            </div>
          </div>
          <div class="dog-attribute">
            <h3>Stranger Score:</h3>
            <div class="paw-values">
              <% (1..5).each do |iteration|%>
                <%= display_score(dog.stranger_score, iteration).html_safe %>
              <% end %>
            </div>
          </div>
          <div class="dog-attribute">
            <h3>Playfulness level:</h3>
            <div class="paw-values">
              <% (1..5).each do |iteration|%>
                <%= display_score(dog.playfulness_score, iteration).html_safe %>
              <% end %>
            </div>
          </div>
          <div class="dog-attribute">
            <h3>Protective level:</h3>
            <div class="paw-values">
              <% (1..5).each do |iteration|%>
                <%= display_score(dog.protective_score, iteration).html_safe %>
              <% end %>
            </div>
          </div>
          <div class="dog-attribute">
            <h3>Adaptability level:</h3>
            <div class="paw-values">
              <% (1..5).each do |iteration|%>
                <%= display_score(dog.adaptability_score, iteration).html_safe %>
              <% end %>
            </div>
          </div>
          <div class="dog-attribute">
            <h3>Trainability level:</h3>
            <div class="paw-values">
              <% (1..5).each do |iteration|%>
                <%= display_score(dog.trainability_score, iteration).html_safe %>
              <% end %>
            </div>
          </div>
          <div class="dog-attribute">
            <h3>Energy level:</h3>
            <div class="paw-values">
              <% (1..5).each do |iteration|%>
                <%= display_score(dog.energy_score, iteration).html_safe %>
              <% end %>
            </div>
          </div>
          <div class="dog-attribute">
            <h3>Barking level:</h3>
            <div class="paw-values">
              <% (1..5).each do |iteration|%>
                <%= display_score(dog.barking_score, iteration).html_safe %>
              <% end %>
            </div>
          </div>
          <div class="dog-attribute">
            <h3>Mental stimulation level:</h3>
            <div class="paw-values">
              <% (1..5).each do |iteration|%>
                <%= display_score(dog.mental_stim_score, iteration).html_safe %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>