<div class="container">
  <%= form_for @survey do |s| %>
    <legend>Let's start with your name</legend>
    <fieldset>
      <%= s.text_field :name_input, placeholder: 'Enter your name' %>
    </fieldset>
    <% @questions.each_with_index do |question, index| %>
      <legend><%= index + 1 %>. <%= question.content %></legend>
      <fieldset>
        <% question.answer_choices.each_with_index do |answer_choice, i| %>
          <div class="radio-container">
            <%= s.label "#{question.survey_attribute_name}_#{answer_choice.value}" do %>
              <%= s.radio_button question.survey_attribute_name.to_sym, answer_choice.value %>
              <%= answer_choice.text %>
            <% end %>
          </div>
        <% end %>
      </fieldset>
    <% end %>
    <div class="options">
      <%= s.submit 'Submit', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>